remoteBUS Protocol Stacks/Node-RED via TCP-IP or RSxxx (using Windows-PC or RaspberryPi)/examples/eB-SampleMain_2Rel4Di2Ai.json
[{"id":"52542d47.55ced4","type":"subflow","name":"BrickBus RemoteMaster Eth","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"2c668c8f.249b94","type":"inject","z":"52542d47.55ced4","name":"","props":[{"p":"payload"},{"p":"host","v":"192.168.3.10","vt":"str"},{"p":"port","v":"7086","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"[6,0,2,0,0,0]","payloadType":"bin","x":130,"y":40,"wires":[["94457bc5.d2fd38","c6992eff.f60d5"]]},{"id":"cb50dac3.64c728","type":"tcp request","z":"52542d47.55ced4","server":"","port":"","out":"time","splitc":"100","name":"","x":450,"y":40,"wires":[["5ae88510.827f4c"]]},{"id":"a4dfca88.2efef8","type":"function","z":"52542d47.55ced4","name":"","func":"var host = flow.get('$parent.host');\nvar port = flow.get('$parent.port');\n\nvar master_info = flow.get('$parent.Master_Info');\n//var master_info = msg.master_info;\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\n//var slave_info = msg.slave_info;\nvar offset_mosi = slave_info.offset_mosi;\nvar offset_miso = slave_info.offset_miso;\n\n\nvar upd0 = (num_brick+6)%256;\nvar upd1 = parseInt((num_brick+6)/256)\nvar num = parseInt(num_brick) - 1;\nconst upd3 = new Array(2);\n//upd3.writeInt16BE(offset_mosi[num], 0);\nvar off_miso = offset_miso[num];\nif(off_miso < 3){\n    off_miso = 3;\n}\n//var update = Buffer.from([upd0, upd1, 16, 0, 0, 0, 0,3]);\nvar update = Buffer.from([upd0, upd1, 16, 0, 0, 0, offset_mosi[num], off_miso]);\n//var upd = Buffer.concat([update, upd3]);\n\nvar output = flow.get(\"$parent.Output\");\nvar output_eth = Buffer.concat([update, output]);\nmsg.payload = output_eth;\nmsg.host = host;\nmsg.port = port;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["f4ff5d70.984dd"]]},{"id":"f4ff5d70.984dd","type":"tcp request","z":"52542d47.55ced4","server":"","port":"","out":"sit","splitc":" ","name":"","x":530,"y":120,"wires":[["1091dfa.4e7fc2"]]},{"id":"1091dfa.4e7fc2","type":"function","z":"52542d47.55ced4","name":"","func":"var master_info =flow.get('$parent.Master_Info');\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\nvar offset_miso = slave_info.offset_miso;\nvar data_miso = slave_info.data_miso;\nvar data_mosi = slave_info.data_mosi;\nvar length = 0;\n\nvar input = Object.values(msg.payload);\nvar brick_input = new Array(num_brick);\nfor (var i = 0; i < num_brick; i++)\n{\n    length = length + data_miso[i];\n    brick_input[i] = [];\n    //slave_output.payload.bricks[i] = [];\n    for(var j = (8+offset_miso[i]); j < (8+length);  j++)\n    {\n        brick_input[i].push(input[j]);\n        //slave_output.payload.bricks[i].push(msg.payload.buffer[j]);\n    }\n}\n\nflow.set(\"$parent.Brick_Input\", brick_input);\nflow.set(\"$parent.sys_approved\",1);\n//msg.payload = brick_input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":120,"wires":[["1d012157.30f92f"]]},{"id":"5ae88510.827f4c","type":"function","z":"52542d47.55ced4","name":"","func":"var id = (msg.payload[8] <<8) + msg.payload[9];\nvar id_1 = parseInt(((msg.payload[8] <<8) + msg.payload[9])/1000);\nvar id_2 = id % 1000;\n\nvar master_input;\nmaster_input = {\"number_bricks\": msg.payload[6],\n\"master_status\": msg.payload[7],\n\"master_id\": id_1 + \"-\" + id_2,\n\"prot_ver\": msg.payload[10],\n\"soft_ver\": msg.payload[11],\n\"man_id\": msg.payload[12],\n\"res1\": msg.payload[13],\n\"res2\": msg.payload[14]};\n\nflow.set('$parent.Master_Info', master_input);\n\nvar slave = {status:[], \ndata_mosi:[], \ndata_miso:[], \nprot_ver: [], \nhard_rev: [],\ndev_id: [],\nman_id: [],\noffset_mosi: [],\noffset_miso: []};\n\nfor (var i = 0; i < msg.payload[6]; i++)\n{\n    slave.status[i] = msg.payload[15+(i*11)+0];\n    slave.data_mosi[i] = msg.payload[15+(i*11)+1];\n    slave.data_miso [i] = msg.payload[15+(i*11)+2];\n    slave.prot_ver[i] = msg.payload[15+(i*11)+3];\n    slave.hard_rev[i] = msg.payload[15+(i*11)+4];\n    slave.dev_id[i] = parseInt(((msg.payload[15+(i*11)+5] <<8) + msg.payload[15+(i*11)+6])/1000) + \"-\" + (((msg.payload[15+(i*11)+5] <<8) + msg.payload[15+(i*11)+6]) % 1000); \n   // slave.dev_id[i] = (msg.payload[15+(i*11)+5] << 8) + msg.payload[15+(i*11)+6];\n    slave.man_id[i] = (msg.payload[15+(i*11)+7] << 8) + msg.payload[15+(i*11)+8];\n    slave.offset_mosi[i] = msg.payload[15+(i*11)+9]; \n    slave.offset_miso[i] = msg.payload[15+(i*11)+10];\n}\n\nflow.set('$parent.Slave_Info', slave);\n\nvar num_brick = msg.payload[6];\nvar sum = 0\nfor (i=0; i<num_brick; i++)\n{\n    sum += slave.data_mosi[i];\n}\nvar output = Buffer.allocUnsafe(sum);\noutput.fill(0);\n\nflow.set(\"$parent.Output\", output);\n\nmsg.master_info = master_input;\nmsg.slave_info = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":40,"wires":[["f53039ee.c9f8a8"]]},{"id":"1d012157.30f92f","type":"delay","z":"52542d47.55ced4","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":200,"wires":[["a4dfca88.2efef8"]]},{"id":"94457bc5.d2fd38","type":"change","z":"52542d47.55ced4","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"updateRate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["1d012157.30f92f"]]},{"id":"f53039ee.c9f8a8","type":"delay","z":"52542d47.55ced4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":40,"wires":[["a4dfca88.2efef8"]]},{"id":"c6992eff.f60d5","type":"function","z":"52542d47.55ced4","name":"","func":"var host = flow.get('$parent.host');\nvar port = flow.get('$parent.port');\nmsg.host = host;\nmsg.port = port;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["cb50dac3.64c728"]]},{"id":"8363d1f5.ebfde","type":"config","z":"730433fc.e7680c","name":"change updateRate (in ms), ip-address or port","properties":[{"p":"updateRate","pt":"flow","to":"100","tot":"num"},{"p":"host","pt":"flow","to":"192.168.3.10","tot":"str"},{"p":"port","pt":"flow","to":"7086","tot":"num"},{"p":"sys_approved","pt":"flow","to":"0","tot":"str"}],"active":true,"x":260,"y":40,"wires":[]},{"id":"5818ef29.74189","type":"subflow:52542d47.55ced4","z":"730433fc.e7680c","name":"","env":[],"x":220,"y":80,"wires":[]},{"id":"5cce4421.d4e7bc","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 3","info":"","x":130,"y":160,"wires":[]},{"id":"8928a718.ce82d8","type":"comment","z":"730433fc.e7680c","name":"Brick 2Rel4Di2Ai-01","info":"","x":950,"y":160,"wires":[]},{"id":"3dcc29d1.177446","type":"Digital Input","z":"730433fc.e7680c","name":"","topic":"","brick":"0","byte_pos":"5","bit_pos":"0","debounce":"","x":130,"y":280,"wires":[["9326aa10.5d1258","b7f31b5b.3fa5a8"]]},{"id":"2d51c934.3ce936","type":"Digital Output","z":"730433fc.e7680c","name":"","topic":"","brick":"0","byte_pos":"0","bit_pos":"0","x":980,"y":320,"wires":[["b405a5d0.487a88"]]},{"id":"dc298599.8cb0e8","type":"BooleanLogicUltimate","z":"730433fc.e7680c","name":"","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":560,"y":320,"wires":[[],["eb47eefb.1bd78"],[]]},{"id":"c6f6fc6f.56999","type":"Digital Input","z":"730433fc.e7680c","name":"","topic":"","brick":"0","byte_pos":"5","bit_pos":"1","debounce":"","x":130,"y":360,"wires":[["c0dd6617.efad08","21373177.3d314e"]]},{"id":"ab16629c.46143","type":"ui_template","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste 1 or Taste 2 on -> Relay 1 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":560,"y":200,"wires":[[]]},{"id":"9326aa10.5d1258","type":"ui_digital-vis","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","order":2,"width":0,"height":0,"name":"Vis Taste1","x":160,"y":220,"wires":[]},{"id":"c0dd6617.efad08","type":"ui_digital-vis","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","order":4,"width":0,"height":0,"name":"Vis Taste2","x":200,"y":420,"wires":[]},{"id":"b405a5d0.487a88","type":"ui_digital-vis","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","order":6,"width":0,"height":0,"name":"Vis Relay1","x":990,"y":260,"wires":[]},{"id":"b7f31b5b.3fa5a8","type":"ui_digital-force","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","order":3,"width":0,"height":0,"name":"Force Taste 1","x":340,"y":280,"wires":[["dc298599.8cb0e8"]]},{"id":"21373177.3d314e","type":"ui_digital-force","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","order":5,"width":0,"height":0,"name":"Force Taste 2","x":340,"y":360,"wires":[["dc298599.8cb0e8"]]},{"id":"eb47eefb.1bd78","type":"ui_digital-force","z":"730433fc.e7680c","group":"d6bb4bfc.61ee28","order":7,"width":0,"height":0,"name":"Force Relay1","x":780,"y":320,"wires":[["2d51c934.3ce936"]]},{"id":"8a353710.66a778","type":"Digital Output","z":"730433fc.e7680c","name":"DO 1","topic":"","brick":"0","byte_pos":"0","bit_pos":"1","x":990,"y":640,"wires":[["f698e615.5f8848"]]},{"id":"1e17aae.4f08255","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 4","info":"","x":150,"y":520,"wires":[]},{"id":"5a982fa3.3db7a","type":"comment","z":"730433fc.e7680c","name":"Brick 2Rel4Di2Ai-01","info":"","x":930,"y":520,"wires":[]},{"id":"d7184718.eb6728","type":"switch","z":"730433fc.e7680c","name":"if >200 to 1 else to 2","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"200","vt":"num"},{"t":"lte","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":640,"wires":[["1032d1a.050372e"],["74c11b46.3f7374"]]},{"id":"1032d1a.050372e","type":"change","z":"730433fc.e7680c","name":"set msg to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":600,"wires":[["7d51c166.212d"]]},{"id":"74c11b46.3f7374","type":"change","z":"730433fc.e7680c","name":"set msg to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["7d51c166.212d"]]},{"id":"ec15ef6.f7e341","type":"ui_template","z":"730433fc.e7680c","group":"5e19ff07.c172b","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Poti Value over 200 -> Relay 2 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":600,"y":520,"wires":[[]]},{"id":"c535f77e.a5e998","type":"ui_analog-force","z":"730433fc.e7680c","group":"5e19ff07.c172b","order":3,"width":0,"height":0,"name":"Force Poti","x":250,"y":640,"wires":[["d7184718.eb6728"]]},{"id":"39067fe6.ac60c","type":"ui_analog-vis","z":"730433fc.e7680c","group":"5e19ff07.c172b","order":2,"width":0,"height":0,"name":"Vis Poti","x":220,"y":580,"wires":[]},{"id":"f698e615.5f8848","type":"ui_digital-vis","z":"730433fc.e7680c","group":"5e19ff07.c172b","order":4,"width":0,"height":0,"name":"Vis Relay2","x":1070,"y":580,"wires":[]},{"id":"7d51c166.212d","type":"ui_digital-force","z":"730433fc.e7680c","group":"5e19ff07.c172b","order":4,"width":0,"height":0,"name":"Force Relay2","x":840,"y":640,"wires":[["8a353710.66a778"]]},{"id":"42e01793.100a18","type":"Analog Input","z":"730433fc.e7680c","name":"AI0","topic":"","brick":"0","byte_pos":"1","gleit_mw":"","msghystere":"","digits_in_lower":"","digits_in_upper":"","process_unit":"","process_in_lower":"","process_in_upper":"","x":90,"y":640,"wires":[["c535f77e.a5e998","39067fe6.ac60c"]]},{"id":"d6bb4bfc.61ee28","type":"ui_group","name":"eB-Sample3","tab":"5abcc6f1.211388","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e19ff07.c172b","type":"ui_group","name":"eB-Sample4","tab":"5abcc6f1.211388","order":2,"disp":true,"width":"6","collapse":false},{"id":"5abcc6f1.211388","type":"ui_tab","name":"eB-SampleMain 2Rel4Di2Ai-01","icon":"dashboard","order":3,"disabled":false,"hidden":false}]