Protocol Stacks/remoteBUS/Node-RED via TCP-IP or RSxxx/examples/BrickBus RemoteMaster Modbus.json
[{"id":"6911ed63.6501e4","type":"subflow","name":"BrickBus RemoteMaster ModbusLB","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"9f05cd29.c465d","type":"modbus-getter","z":"6911ed63.6501e4","name":"MasterInput","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"4096","quantity":"104","server":"e70ae6ef.df3e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":490,"y":60,"wires":[[],["1ce678b3.55d927"]]},{"id":"35945228.9f4cee","type":"modbus-getter","z":"6911ed63.6501e4","name":"SlaveOutput","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"124","server":"e70ae6ef.df3e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":390,"y":160,"wires":[[],["946d01f1.ebc44"]]},{"id":"704b57b6.44f098","type":"inject","z":"6911ed63.6501e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["30172aed.e21e76","4eb7ad58.f29f34"]]},{"id":"1ce678b3.55d927","type":"function","z":"6911ed63.6501e4","name":"","func":"var modbusId = flow.get(\"ModbusID\");\n\nvar id = (msg.payload.buffer[2]<<8)+msg.payload.buffer[3];\nvar id_1 = parseInt(((msg.payload.buffer[2] << 8) + msg.payload.buffer[3])/1000);\nvar id_2 = id%1000;\n\nvar master_input;\nmaster_input = {\"number_bricks\": msg.payload.buffer[0],\n\"master_status\": msg.payload.buffer[1],\n\"master_id\": id_1 + \"-\" + id_2,\n\"prot_ver\": msg.payload.buffer[4],\n\"soft_ver\": msg.payload.buffer[5],\n\"man_id\": msg.payload.buffer[6],\n\"res1\": msg.payload.buffer[7],\n\"res2\": msg.payload.buffer[8]};\n\nflow.set('$parent.Master_Info', master_input);\n\nvar slave = {status:[], \ndata_mosi:[], \ndata_miso:[], \nprot_ver: [], \nhard_rev: [],\ndev_id: [],\nman_id: [],\noffset_mosi: [],\noffset_miso: []};\n\nfor (var i = 0; i < msg.payload.buffer[0]; i++)\n{\n    slave.status[i] = msg.payload.buffer[9+(i*11)+0];\n    slave.data_mosi[i] = msg.payload.buffer[9+(i*11)+1];\n    slave.data_miso [i] = msg.payload.buffer[9+(i*11)+2];\n    slave.prot_ver[i] = msg.payload.buffer[9+(i*11)+3];\n    slave.hard_rev[i] = msg.payload.buffer[9+(i*11)+4];\n    slave.dev_id[i] = parseInt(((msg.payload.buffer[9+(i*11)+5] <<8) + msg.payload.buffer[9+(i*11)+6])/1000) + \"-\" + (((msg.payload.buffer[9+(i*11)+5] <<8) + msg.payload.buffer[9+(i*11)+6]) % 1000); \n   // slave.dev_id[i] = (msg.payload[15+(i*11)+5] << 8) + msg.payload[15+(i*11)+6];\n    slave.man_id[i] = (msg.payload.buffer[9+(i*11)+7] << 8) + msg.payload.buffer[9+(i*11)+8];\n    slave.offset_mosi[i] = msg.payload.buffer[9+(i*11)+9]; \n    slave.offset_miso[i] = msg.payload.buffer[9+(i*11)+10];\n}\nflow.set('$parent.Slave_Info', slave);\n\nvar num_brick = msg.payload.buffer[0];\nvar sum = 0\nfor (i=0; i<num_brick; i++)\n{\n    sum += slave.data_mosi[i];\n}\nvar output = Buffer.allocUnsafe(sum);\noutput.fill(0);\n\nflow.set(\"$parent.Output\", output);\nmsg.payload.unitid = modbusId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":60,"wires":[["35945228.9f4cee"]]},{"id":"946d01f1.ebc44","type":"function","z":"6911ed63.6501e4","name":"","func":"var master_info =flow.get('$parent.Master_Info');\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\nvar offset_miso = slave_info.offset_miso;\nvar data_miso = slave_info.data_miso;\nvar data_mosi = slave_info.data_mosi;\nvar length = 0;\n\nvar input = Object.values(msg.payload.buffer);\nvar brick_input = new Array(num_brick);\nfor (var i = 0; i < num_brick; i++)\n{\n    length = length + data_miso[i];\n    brick_input[i] = [];\n    //slave_output.payload.bricks[i] = [];\n    for(var j = (offset_miso[i]); j < (length);  j++)\n    {\n        brick_input[i].push(input[j]);\n        //slave_output.payload.bricks[i].push(msg.payload.buffer[j]);\n    }\n}\n\nflow.set(\"$parent.Brick_Input\", brick_input);\nflow.set(\"$parent.sys_approved\",1);\n//msg.payload = brick_input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["859250cf.66a18"]]},{"id":"d2f312b5.1d6c1","type":"delay","z":"6911ed63.6501e4","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":260,"wires":[["35945228.9f4cee"]]},{"id":"30172aed.e21e76","type":"change","z":"6911ed63.6501e4","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"updateRate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["d2f312b5.1d6c1"]]},{"id":"859250cf.66a18","type":"function","z":"6911ed63.6501e4","name":"","func":"var modbusId = flow.get(\"ModbusID\");\n\nvar output = flow.get(\"$parent.Output\");\nvar output_mod = [];\nlet length = output.length;\nlet quan = length /2;\nfor(let i=0; i<length; i=i+2){\n    output_mod.push((output[i] << 8) + output[j=i+1])\n}\n\nmsg.payload = { value: output_mod, 'fc': 16, 'unitid': modbusId, 'address': 0 , 'quantity': quan }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":160,"wires":[["454419e2.3d2e28"]]},{"id":"454419e2.3d2e28","type":"modbus-flex-write","z":"6911ed63.6501e4","name":"","showStatusActivities":false,"showErrors":false,"server":"e70ae6ef.df3e28","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":160,"wires":[["d2f312b5.1d6c1"],[]]},{"id":"4eb7ad58.f29f34","type":"function","z":"6911ed63.6501e4","name":"","func":"var modbusId = flow.get(\"ModbusID\");\nmsg.payload.unitid = modbusId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["9f05cd29.c465d"]]},{"id":"e70ae6ef.df3e28","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM5","serialType":"RTU","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6e303b5c.92ed04","type":"subflow:6911ed63.6501e4","z":"40918cbb.ae1014","name":"","env":[],"x":220,"y":100,"wires":[]},{"id":"41b567c0.fc32d8","type":"config","z":"40918cbb.ae1014","name":"change updateRate (in ms), Modbus ID","properties":[{"p":"updateRate","pt":"flow","to":"100","tot":"num"},{"p":"ModbusID","pt":"flow","to":"1","tot":"str"},{"p":"sys_approved","pt":"flow","to":"0","tot":"str"}],"active":true,"x":240,"y":60,"wires":[]}]