Protocol Stacks/remoteBUS/Node-RED via TCP-IP or RSxxx/examples/eB-SampleMain_8Di8Do.json
[{"id":"52542d47.55ced4","type":"subflow","name":"BrickBus RemoteMaster Eth","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"2c668c8f.249b94","type":"inject","z":"52542d47.55ced4","name":"","props":[{"p":"payload"},{"p":"host","v":"192.168.3.10","vt":"str"},{"p":"port","v":"7086","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"[6,0,2,0,0,0]","payloadType":"bin","x":130,"y":40,"wires":[["94457bc5.d2fd38","c6992eff.f60d5"]]},{"id":"cb50dac3.64c728","type":"tcp request","z":"52542d47.55ced4","server":"","port":"","out":"time","splitc":"100","name":"","x":450,"y":40,"wires":[["5ae88510.827f4c"]]},{"id":"a4dfca88.2efef8","type":"function","z":"52542d47.55ced4","name":"","func":"var host = flow.get('$parent.host');\nvar port = flow.get('$parent.port');\n\nvar master_info = flow.get('$parent.Master_Info');\n//var master_info = msg.master_info;\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\n//var slave_info = msg.slave_info;\nvar offset_mosi = slave_info.offset_mosi;\nvar offset_miso = slave_info.offset_miso;\n\n\nvar upd0 = (num_brick+6)%256;\nvar upd1 = parseInt((num_brick+6)/256)\nvar num = parseInt(num_brick) - 1;\nconst upd3 = new Array(2);\n//upd3.writeInt16BE(offset_mosi[num], 0);\nvar off_miso = offset_miso[num];\nif(off_miso < 3){\n    off_miso = 3;\n}\n//var update = Buffer.from([upd0, upd1, 16, 0, 0, 0, 0,3]);\nvar update = Buffer.from([upd0, upd1, 16, 0, 0, 0, offset_mosi[num], off_miso]);\n//var upd = Buffer.concat([update, upd3]);\n\nvar output = flow.get(\"$parent.Output\");\nvar output_eth = Buffer.concat([update, output]);\nmsg.payload = output_eth;\nmsg.host = host;\nmsg.port = port;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["f4ff5d70.984dd"]]},{"id":"f4ff5d70.984dd","type":"tcp request","z":"52542d47.55ced4","server":"","port":"","out":"sit","splitc":" ","name":"","x":530,"y":120,"wires":[["1091dfa.4e7fc2"]]},{"id":"1091dfa.4e7fc2","type":"function","z":"52542d47.55ced4","name":"","func":"var master_info =flow.get('$parent.Master_Info');\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\nvar offset_miso = slave_info.offset_miso;\nvar data_miso = slave_info.data_miso;\nvar data_mosi = slave_info.data_mosi;\nvar length = 0;\n\nvar input = Object.values(msg.payload);\nvar brick_input = new Array(num_brick);\nfor (var i = 0; i < num_brick; i++)\n{\n    length = length + data_miso[i];\n    brick_input[i] = [];\n    //slave_output.payload.bricks[i] = [];\n    for(var j = (8+offset_miso[i]); j < (8+length);  j++)\n    {\n        brick_input[i].push(input[j]);\n        //slave_output.payload.bricks[i].push(msg.payload.buffer[j]);\n    }\n}\n\nflow.set(\"$parent.Brick_Input\", brick_input);\nflow.set(\"$parent.sys_approved\",1);\n//msg.payload = brick_input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":120,"wires":[["1d012157.30f92f"]]},{"id":"5ae88510.827f4c","type":"function","z":"52542d47.55ced4","name":"","func":"var id = (msg.payload[8] <<8) + msg.payload[9];\nvar id_1 = parseInt(((msg.payload[8] <<8) + msg.payload[9])/1000);\nvar id_2 = id % 1000;\n\nvar master_input;\nmaster_input = {\"number_bricks\": msg.payload[6],\n\"master_status\": msg.payload[7],\n\"master_id\": id_1 + \"-\" + id_2,\n\"prot_ver\": msg.payload[10],\n\"soft_ver\": msg.payload[11],\n\"man_id\": msg.payload[12],\n\"res1\": msg.payload[13],\n\"res2\": msg.payload[14]};\n\nflow.set('$parent.Master_Info', master_input);\n\nvar slave = {status:[], \ndata_mosi:[], \ndata_miso:[], \nprot_ver: [], \nhard_rev: [],\ndev_id: [],\nman_id: [],\noffset_mosi: [],\noffset_miso: []};\n\nfor (var i = 0; i < msg.payload[6]; i++)\n{\n    slave.status[i] = msg.payload[15+(i*11)+0];\n    slave.data_mosi[i] = msg.payload[15+(i*11)+1];\n    slave.data_miso [i] = msg.payload[15+(i*11)+2];\n    slave.prot_ver[i] = msg.payload[15+(i*11)+3];\n    slave.hard_rev[i] = msg.payload[15+(i*11)+4];\n    slave.dev_id[i] = parseInt(((msg.payload[15+(i*11)+5] <<8) + msg.payload[15+(i*11)+6])/1000) + \"-\" + (((msg.payload[15+(i*11)+5] <<8) + msg.payload[15+(i*11)+6]) % 1000); \n   // slave.dev_id[i] = (msg.payload[15+(i*11)+5] << 8) + msg.payload[15+(i*11)+6];\n    slave.man_id[i] = (msg.payload[15+(i*11)+7] << 8) + msg.payload[15+(i*11)+8];\n    slave.offset_mosi[i] = msg.payload[15+(i*11)+9]; \n    slave.offset_miso[i] = msg.payload[15+(i*11)+10];\n}\n\nflow.set('$parent.Slave_Info', slave);\n\nvar num_brick = msg.payload[6];\nvar sum = 0\nfor (i=0; i<num_brick; i++)\n{\n    sum += slave.data_mosi[i];\n}\nvar output = Buffer.allocUnsafe(sum);\noutput.fill(0);\n\nflow.set(\"$parent.Output\", output);\n\nmsg.master_info = master_input;\nmsg.slave_info = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":40,"wires":[["f53039ee.c9f8a8"]]},{"id":"1d012157.30f92f","type":"delay","z":"52542d47.55ced4","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":200,"wires":[["a4dfca88.2efef8"]]},{"id":"94457bc5.d2fd38","type":"change","z":"52542d47.55ced4","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"updateRate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["1d012157.30f92f"]]},{"id":"f53039ee.c9f8a8","type":"delay","z":"52542d47.55ced4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":40,"wires":[["a4dfca88.2efef8"]]},{"id":"c6992eff.f60d5","type":"function","z":"52542d47.55ced4","name":"","func":"var host = flow.get('$parent.host');\nvar port = flow.get('$parent.port');\nmsg.host = host;\nmsg.port = port;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["cb50dac3.64c728"]]},{"id":"fb1b0c49.8b3ee","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 1-1","info":"","x":100,"y":140,"wires":[]},{"id":"18501b0c.cf7705","type":"comment","z":"730433fc.e7680c","name":"Brick 8Di8Do-01","info":"","x":300,"y":140,"wires":[]},{"id":"a66be8ea.f25058","type":"Digital Input","z":"730433fc.e7680c","name":"DI0","topic":"","brick":"0","byte_pos":"1","bit_pos":"0","debounce":"","x":90,"y":260,"wires":[["654a2cc3.7c9b64","9f7929f2.667bf8"]]},{"id":"6225851e.80e0dc","type":"Digital Input","z":"730433fc.e7680c","name":"DI1","topic":"","brick":"0","byte_pos":"1","bit_pos":"1","debounce":"","x":90,"y":340,"wires":[["f7c78544.0fd0f8","4f4349a1.6aba28"]]},{"id":"51e046fa.581c88","type":"Digital Output","z":"730433fc.e7680c","name":"DO 0","topic":"","brick":"0","byte_pos":"0","bit_pos":"0","x":870,"y":280,"wires":[["aa23679d.6f11d8"]]},{"id":"bf0c7794.fa3518","type":"BooleanLogicUltimate","z":"730433fc.e7680c","name":"","filtertrue":"both","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":500,"y":300,"wires":[["ff45325e.ff2ed"],[],[]]},{"id":"237b7b21.d04b64","type":"ui_template","z":"730433fc.e7680c","group":"b698f45f.ddafd8","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste1 and Taste 2 on -> Led 1 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":520,"y":200,"wires":[[]]},{"id":"654a2cc3.7c9b64","type":"ui_digital-vis","z":"730433fc.e7680c","group":"b698f45f.ddafd8","order":2,"width":0,"height":0,"name":"Vis Schalter1","x":270,"y":200,"wires":[]},{"id":"aa23679d.6f11d8","type":"ui_digital-vis","z":"730433fc.e7680c","group":"b698f45f.ddafd8","order":6,"width":0,"height":0,"name":"Vis Led1","x":920,"y":220,"wires":[]},{"id":"f7c78544.0fd0f8","type":"ui_digital-vis","z":"730433fc.e7680c","group":"b698f45f.ddafd8","order":4,"width":0,"height":0,"name":"Vis Schalter2","x":270,"y":400,"wires":[]},{"id":"e57d87ed.5159e8","type":"comment","z":"730433fc.e7680c","name":"mit Vis & Force","info":"","x":500,"y":140,"wires":[]},{"id":"715c37bf.296288","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 1-2","info":"","x":100,"y":500,"wires":[]},{"id":"8f3144e.44ff5b8","type":"comment","z":"730433fc.e7680c","name":"Brick 8Di8Do-01","info":"","x":300,"y":500,"wires":[]},{"id":"ff1fd719.8f3538","type":"comment","z":"730433fc.e7680c","name":"mit Vis & ohne Force","info":"","x":510,"y":500,"wires":[]},{"id":"43134d99.f77e54","type":"Digital Input","z":"730433fc.e7680c","name":"DI0","topic":"","brick":"0","byte_pos":"1","bit_pos":"0","debounce":"","x":110,"y":660,"wires":[["e91a08de.b96f88","67b3f822.ec9378"]]},{"id":"c558429f.a4298","type":"Digital Input","z":"730433fc.e7680c","name":"DI1","topic":"","brick":"0","byte_pos":"1","bit_pos":"1","debounce":"","x":110,"y":740,"wires":[["67b3f822.ec9378","cea08fc5.f706a"]]},{"id":"e91a08de.b96f88","type":"ui_digital-vis","z":"730433fc.e7680c","group":"b18cbfb4.d879e","order":2,"width":0,"height":0,"name":"Vis Schalter1","x":150,"y":600,"wires":[]},{"id":"cea08fc5.f706a","type":"ui_digital-vis","z":"730433fc.e7680c","group":"b18cbfb4.d879e","order":3,"width":0,"height":0,"name":"Vis Schalter 2","x":160,"y":800,"wires":[]},{"id":"67b3f822.ec9378","type":"BooleanLogicUltimate","z":"730433fc.e7680c","name":"","filtertrue":"both","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":320,"y":700,"wires":[["f5ccbea1.37001"],[],[]]},{"id":"f5ccbea1.37001","type":"Digital Output","z":"730433fc.e7680c","name":"DO 0","topic":"","brick":"0","byte_pos":"0","bit_pos":"0","x":530,"y":700,"wires":[["96b2fdf7.526d1"]]},{"id":"96b2fdf7.526d1","type":"ui_digital-vis","z":"730433fc.e7680c","group":"b18cbfb4.d879e","order":5,"width":0,"height":0,"name":"Vis Led1","x":540,"y":640,"wires":[]},{"id":"f3e25e2e.5150e","type":"ui_template","z":"730433fc.e7680c","group":"b18cbfb4.d879e","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste1 and Taste 2 on -> Led 1 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":360,"y":560,"wires":[[]]},{"id":"3d15c548.42f86a","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 1-4","info":"","x":100,"y":1180,"wires":[]},{"id":"b6533de1.f8c61","type":"comment","z":"730433fc.e7680c","name":"Brick 8Di8Do-01","info":"","x":300,"y":1180,"wires":[]},{"id":"14288bb4.c0e704","type":"comment","z":"730433fc.e7680c","name":"ohne Vis & ohne Force","info":"","x":520,"y":1180,"wires":[]},{"id":"ee34457b.b53398","type":"Digital Input","z":"730433fc.e7680c","name":"DI0","topic":"","brick":"0","byte_pos":"1","bit_pos":"0","debounce":"","x":110,"y":1320,"wires":[["126423fa.083ddc"]]},{"id":"8c4c5992.6b1c68","type":"Digital Input","z":"730433fc.e7680c","name":"DI1","topic":"","brick":"0","byte_pos":"1","bit_pos":"1","debounce":"","x":110,"y":1400,"wires":[["126423fa.083ddc"]]},{"id":"62a55c02.583e84","type":"Digital Output","z":"730433fc.e7680c","name":"DO 0","topic":"","brick":"0","byte_pos":"0","bit_pos":"0","x":530,"y":1360,"wires":[[]]},{"id":"126423fa.083ddc","type":"BooleanLogicUltimate","z":"730433fc.e7680c","name":"","filtertrue":"both","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":320,"y":1360,"wires":[["62a55c02.583e84"],[],[]]},{"id":"1f5ba899.45aaf7","type":"BlinkerUltimate","z":"730433fc.e7680c","name":"Blinker","stopbehaviorPIN1":false,"stopbehaviorPIN2":false,"blinkfrequency":500,"x":680,"y":2100,"wires":[["6b3edb1c.d0e484"],[]]},{"id":"873e170c.5126f8","type":"Digital Input","z":"730433fc.e7680c","name":"DI2","topic":"","brick":"0","byte_pos":"1","bit_pos":"1","debounce":"","x":70,"y":2100,"wires":[["20da59ab.2d9956","f9e896c5.287388"]]},{"id":"d61c609d.1d09d","type":"Digital Output","z":"730433fc.e7680c","name":"","topic":"","brick":"0","byte_pos":"0","bit_pos":"1","x":1060,"y":2100,"wires":[["d4c23803.482678"]]},{"id":"7af4fe58.324dc","type":"change","z":"730433fc.e7680c","name":"Change 1 to true & 0 to false","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2100,"wires":[["1f5ba899.45aaf7"]]},{"id":"159b8d73.d0f013","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 2","info":"","x":110,"y":1960,"wires":[]},{"id":"59cd346d.eb14bc","type":"comment","z":"730433fc.e7680c","name":"Brick 8Di8Do-01","info":"","x":300,"y":1960,"wires":[]},{"id":"3ab68f5d.19cb6","type":"ui_template","z":"730433fc.e7680c","group":"1ba2a805.ed1598","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste 3 on -> Led 2 Blink every 500ms</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":520,"y":2020,"wires":[[]]},{"id":"d4c23803.482678","type":"ui_digital-vis","z":"730433fc.e7680c","group":"1ba2a805.ed1598","order":4,"width":0,"height":0,"name":"Vis Led2 ","x":1100,"y":2040,"wires":[]},{"id":"20da59ab.2d9956","type":"ui_digital-vis","z":"730433fc.e7680c","group":"1ba2a805.ed1598","order":2,"width":0,"height":0,"name":"Vis Taste ","x":120,"y":2040,"wires":[]},{"id":"114dff1a.d008e1","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 1-3","info":"","x":100,"y":880,"wires":[]},{"id":"2e6d1e59.628df2","type":"comment","z":"730433fc.e7680c","name":"Brick 8Di8Do-01","info":"","x":300,"y":880,"wires":[]},{"id":"983a3d4e.9d4ce","type":"comment","z":"730433fc.e7680c","name":"ohne Vis & mit Force","info":"","x":510,"y":880,"wires":[]},{"id":"5766662e.bfccf8","type":"Digital Input","z":"730433fc.e7680c","name":"DI0","topic":"","brick":"0","byte_pos":"1","bit_pos":"0","debounce":"","x":90,"y":1000,"wires":[["90197413.11eb78"]]},{"id":"1e4b535c.375e0d","type":"Digital Input","z":"730433fc.e7680c","name":"DI1","topic":"","brick":"0","byte_pos":"1","bit_pos":"1","debounce":"","x":90,"y":1080,"wires":[["a34e3f04.de01b"]]},{"id":"fa3596fe.4ddf78","type":"Digital Output","z":"730433fc.e7680c","name":"DO 0","topic":"","brick":"0","byte_pos":"0","bit_pos":"0","x":890,"y":1040,"wires":[[]]},{"id":"a4b3c863.695ca8","type":"BooleanLogicUltimate","z":"730433fc.e7680c","name":"","filtertrue":"both","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":500,"y":1040,"wires":[["e2ba95a3.f8d3c8"],[],[]]},{"id":"b502eab.d9b5518","type":"ui_template","z":"730433fc.e7680c","group":"f8d8cc7b.69186","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste1 and Taste 2 on -> Led 1 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":500,"y":940,"wires":[[]]},{"id":"e2d40ed5.4bd01","type":"ui_template","z":"730433fc.e7680c","group":"8072a17a.6a51a","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste1 and Taste 2 on -> Led 1 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":320,"y":1260,"wires":[[]]},{"id":"ccf7cb45.1bbfd8","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 1-5","info":"","x":100,"y":1520,"wires":[]},{"id":"6346cdfb.f6e8a4","type":"comment","z":"730433fc.e7680c","name":"Brick 8Di8Do-01","info":"","x":300,"y":1520,"wires":[]},{"id":"102db5e.661164a","type":"comment","z":"730433fc.e7680c","name":"with other Vis & Force","info":"","x":520,"y":1520,"wires":[]},{"id":"afefbd62.a03e2","type":"Digital Input","z":"730433fc.e7680c","name":"DI0","topic":"","brick":"0","byte_pos":"1","bit_pos":"0","debounce":"","x":70,"y":1680,"wires":[["d555aab1.a441b8","cfe270de.1a691"]]},{"id":"ff475ae6.fa8d08","type":"Digital Input","z":"730433fc.e7680c","name":"DI1","topic":"","brick":"0","byte_pos":"1","bit_pos":"1","debounce":"","x":70,"y":1760,"wires":[["bfd6d8cb.837a58","dd4050f6.6e1cd"]]},{"id":"8b0963b7.b84f5","type":"Digital Output","z":"730433fc.e7680c","name":"DO 0","topic":"","brick":"0","byte_pos":"0","bit_pos":"0","x":890,"y":1720,"wires":[["24f2704f.4412f"]]},{"id":"5f25bc57.785844","type":"BooleanLogicUltimate","z":"730433fc.e7680c","name":"","filtertrue":"both","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":540,"y":1720,"wires":[["4cbf21f1.035b9"],[],[]]},{"id":"4ccc6932.74ed38","type":"ui_template","z":"730433fc.e7680c","group":"e76c9f74.216a9","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>Taste1 and Taste 2 on -> Led 1 on</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":440,"y":1580,"wires":[[]]},{"id":"24f2704f.4412f","type":"ui_led","z":"730433fc.e7680c","order":6,"group":"e76c9f74.216a9","width":0,"height":0,"label":"LED1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"0","valueType":"num"},{"color":"#e2ff05","value":"1","valueType":"num"},{"color":"#eeff00","value":"true","valueType":"bool"},{"color":"#000000","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Vis Led1","x":980,"y":1660,"wires":[]},{"id":"dd4050f6.6e1cd","type":"ui_switch","z":"730433fc.e7680c","name":"","label":"Force Schalter 2","tooltip":"","group":"e76c9f74.216a9","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Schalter2","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":260,"y":1760,"wires":[["5f25bc57.785844"]]},{"id":"cfe270de.1a691","type":"ui_switch","z":"730433fc.e7680c","name":"","label":"Force Schalter 1","tooltip":"","group":"e76c9f74.216a9","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"Schalter1","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":260,"y":1680,"wires":[["5f25bc57.785844"]]},{"id":"d555aab1.a441b8","type":"ui_led","z":"730433fc.e7680c","order":2,"group":"e76c9f74.216a9","width":0,"height":0,"label":"Schalter 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"0","valueType":"num"},{"color":"#ffdd00","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Vis Schalter 1","x":260,"y":1620,"wires":[]},{"id":"bfd6d8cb.837a58","type":"ui_led","z":"730433fc.e7680c","order":4,"group":"e76c9f74.216a9","width":0,"height":0,"label":"Schalter 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"0","valueType":"num"},{"color":"#fff700","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Vis Schalter 2 ","x":260,"y":1820,"wires":[]},{"id":"4cbf21f1.035b9","type":"ui_switch","z":"730433fc.e7680c","name":"","label":"Force Led1","tooltip":"","group":"e76c9f74.216a9","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LED1","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":730,"y":1720,"wires":[["8b0963b7.b84f5"]]},{"id":"9f7929f2.667bf8","type":"ui_digital-force","z":"730433fc.e7680c","group":"b698f45f.ddafd8","order":3,"width":0,"height":0,"name":"Force Schalter1","x":270,"y":260,"wires":[["bf0c7794.fa3518"]]},{"id":"4f4349a1.6aba28","type":"ui_digital-force","z":"730433fc.e7680c","group":"b698f45f.ddafd8","order":5,"width":0,"height":0,"name":"Force Schalter2","x":270,"y":340,"wires":[["bf0c7794.fa3518"]]},{"id":"ff45325e.ff2ed","type":"ui_digital-force","z":"730433fc.e7680c","group":"b698f45f.ddafd8","order":7,"width":0,"height":0,"name":"Force Led1","x":680,"y":280,"wires":[["51e046fa.581c88"]]},{"id":"90197413.11eb78","type":"ui_digital-force","z":"730433fc.e7680c","group":"f8d8cc7b.69186","order":1,"width":0,"height":0,"name":"Force Schalter1","x":280,"y":1000,"wires":[["a4b3c863.695ca8"]]},{"id":"a34e3f04.de01b","type":"ui_digital-force","z":"730433fc.e7680c","group":"f8d8cc7b.69186","order":2,"width":0,"height":0,"name":"Force Schalter2","x":280,"y":1080,"wires":[["a4b3c863.695ca8"]]},{"id":"e2ba95a3.f8d3c8","type":"ui_digital-force","z":"730433fc.e7680c","group":"f8d8cc7b.69186","order":3,"width":0,"height":0,"name":"Force Led1","x":700,"y":1040,"wires":[["fa3596fe.4ddf78"]]},{"id":"f9e896c5.287388","type":"ui_digital-force","z":"730433fc.e7680c","group":"1ba2a805.ed1598","order":3,"width":0,"height":0,"name":"Force Schalter","x":240,"y":2100,"wires":[["7af4fe58.324dc"]]},{"id":"6b3edb1c.d0e484","type":"ui_digital-force","z":"730433fc.e7680c","group":"1ba2a805.ed1598","order":4,"width":0,"height":0,"name":"Force Led2","x":870,"y":2100,"wires":[["d61c609d.1d09d"]]},{"id":"8363d1f5.ebfde","type":"config","z":"730433fc.e7680c","name":"change updateRate (in ms), ip-address or port","properties":[{"p":"updateRate","pt":"flow","to":"100","tot":"num"},{"p":"host","pt":"flow","to":"192.168.3.10","tot":"str"},{"p":"port","pt":"flow","to":"7086","tot":"num"},{"p":"sys_approved","pt":"flow","to":"0","tot":"str"}],"active":true,"x":260,"y":40,"wires":[]},{"id":"5818ef29.74189","type":"subflow:52542d47.55ced4","z":"730433fc.e7680c","name":"","env":[],"x":220,"y":80,"wires":[]},{"id":"b698f45f.ddafd8","type":"ui_group","name":"eB-Sample1-1","tab":"af0dadb9.93bdd","order":1,"disp":true,"width":"6","collapse":false,"info":"# Beiapiel"},{"id":"b18cbfb4.d879e","type":"ui_group","name":"eB-Sample1-2","tab":"af0dadb9.93bdd","order":2,"disp":true,"width":"6","collapse":false},{"id":"1ba2a805.ed1598","type":"ui_group","name":"eB-Sample2-1","tab":"2a3a779e.c6f298","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8d8cc7b.69186","type":"ui_group","name":"eB-Sample1-3","tab":"af0dadb9.93bdd","order":3,"disp":true,"width":"6","collapse":false},{"id":"8072a17a.6a51a","type":"ui_group","name":"eB-Sample1-4","tab":"af0dadb9.93bdd","order":4,"disp":true,"width":"6","collapse":false},{"id":"e76c9f74.216a9","type":"ui_group","name":"eB-Sample1-5","tab":"af0dadb9.93bdd","order":5,"disp":true,"width":"6","collapse":false},{"id":"af0dadb9.93bdd","type":"ui_tab","name":"eB-SampleMain 8Di8Do-01 (1)","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2a3a779e.c6f298","type":"ui_tab","name":"eB-SampleMain 8Di8Do-01 (2)","icon":"dashboard","order":2,"disabled":false,"hidden":false}]