Protocol Stacks/remoteBUS/Node-RED via TCP-IP or RSxxx/examples/eB-SampleMain_2Mi2Ao-03.json
[{"id":"52542d47.55ced4","type":"subflow","name":"BrickBus RemoteMaster Eth","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"2c668c8f.249b94","type":"inject","z":"52542d47.55ced4","name":"","props":[{"p":"payload"},{"p":"host","v":"192.168.3.10","vt":"str"},{"p":"port","v":"7086","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"[6,0,2,0,0,0]","payloadType":"bin","x":130,"y":40,"wires":[["94457bc5.d2fd38","c6992eff.f60d5"]]},{"id":"cb50dac3.64c728","type":"tcp request","z":"52542d47.55ced4","server":"","port":"","out":"time","splitc":"100","name":"","x":450,"y":40,"wires":[["5ae88510.827f4c"]]},{"id":"a4dfca88.2efef8","type":"function","z":"52542d47.55ced4","name":"","func":"var host = flow.get('$parent.host');\nvar port = flow.get('$parent.port');\n\nvar master_info = flow.get('$parent.Master_Info');\n//var master_info = msg.master_info;\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\n//var slave_info = msg.slave_info;\nvar offset_mosi = slave_info.offset_mosi;\nvar offset_miso = slave_info.offset_miso;\n\n\nvar upd0 = (num_brick+6)%256;\nvar upd1 = parseInt((num_brick+6)/256)\nvar num = parseInt(num_brick) - 1;\nconst upd3 = new Array(2);\n//upd3.writeInt16BE(offset_mosi[num], 0);\nvar off_miso = offset_miso[num];\nif(off_miso < 3){\n    off_miso = 3;\n}\n//var update = Buffer.from([upd0, upd1, 16, 0, 0, 0, 0,3]);\nvar update = Buffer.from([upd0, upd1, 16, 0, 0, 0, offset_mosi[num], off_miso]);\n//var upd = Buffer.concat([update, upd3]);\n\nvar output = flow.get(\"$parent.Output\");\nvar output_eth = Buffer.concat([update, output]);\nmsg.payload = output_eth;\nmsg.host = host;\nmsg.port = port;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["f4ff5d70.984dd"]]},{"id":"f4ff5d70.984dd","type":"tcp request","z":"52542d47.55ced4","server":"","port":"","out":"sit","splitc":" ","name":"","x":530,"y":120,"wires":[["1091dfa.4e7fc2"]]},{"id":"1091dfa.4e7fc2","type":"function","z":"52542d47.55ced4","name":"","func":"var master_info =flow.get('$parent.Master_Info');\nvar num_brick = master_info.number_bricks;\n\nvar slave_info = flow.get('$parent.Slave_Info');\nvar offset_miso = slave_info.offset_miso;\nvar data_miso = slave_info.data_miso;\nvar data_mosi = slave_info.data_mosi;\nvar length = 0;\n\nvar input = Object.values(msg.payload);\nvar brick_input = new Array(num_brick);\nfor (var i = 0; i < num_brick; i++)\n{\n    length = length + data_miso[i];\n    brick_input[i] = [];\n    //slave_output.payload.bricks[i] = [];\n    for(var j = (8+offset_miso[i]); j < (8+length);  j++)\n    {\n        brick_input[i].push(input[j]);\n        //slave_output.payload.bricks[i].push(msg.payload.buffer[j]);\n    }\n}\n\nflow.set(\"$parent.Brick_Input\", brick_input);\nflow.set(\"$parent.sys_approved\",1);\n//msg.payload = brick_input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":120,"wires":[["1d012157.30f92f"]]},{"id":"5ae88510.827f4c","type":"function","z":"52542d47.55ced4","name":"","func":"var id = (msg.payload[8] <<8) + msg.payload[9];\nvar id_1 = parseInt(((msg.payload[8] <<8) + msg.payload[9])/1000);\nvar id_2 = id % 1000;\n\nvar master_input;\nmaster_input = {\"number_bricks\": msg.payload[6],\n\"master_status\": msg.payload[7],\n\"master_id\": id_1 + \"-\" + id_2,\n\"prot_ver\": msg.payload[10],\n\"soft_ver\": msg.payload[11],\n\"man_id\": msg.payload[12],\n\"res1\": msg.payload[13],\n\"res2\": msg.payload[14]};\n\nflow.set('$parent.Master_Info', master_input);\n\nvar slave = {status:[], \ndata_mosi:[], \ndata_miso:[], \nprot_ver: [], \nhard_rev: [],\ndev_id: [],\nman_id: [],\noffset_mosi: [],\noffset_miso: []};\n\nfor (var i = 0; i < msg.payload[6]; i++)\n{\n    slave.status[i] = msg.payload[15+(i*11)+0];\n    slave.data_mosi[i] = msg.payload[15+(i*11)+1];\n    slave.data_miso [i] = msg.payload[15+(i*11)+2];\n    slave.prot_ver[i] = msg.payload[15+(i*11)+3];\n    slave.hard_rev[i] = msg.payload[15+(i*11)+4];\n    slave.dev_id[i] = parseInt(((msg.payload[15+(i*11)+5] <<8) + msg.payload[15+(i*11)+6])/1000) + \"-\" + (((msg.payload[15+(i*11)+5] <<8) + msg.payload[15+(i*11)+6]) % 1000); \n   // slave.dev_id[i] = (msg.payload[15+(i*11)+5] << 8) + msg.payload[15+(i*11)+6];\n    slave.man_id[i] = (msg.payload[15+(i*11)+7] << 8) + msg.payload[15+(i*11)+8];\n    slave.offset_mosi[i] = msg.payload[15+(i*11)+9]; \n    slave.offset_miso[i] = msg.payload[15+(i*11)+10];\n}\n\nflow.set('$parent.Slave_Info', slave);\n\nvar num_brick = msg.payload[6];\nvar sum = 0\nfor (i=0; i<num_brick; i++)\n{\n    sum += slave.data_mosi[i];\n}\nvar output = Buffer.allocUnsafe(sum);\noutput.fill(0);\n\nflow.set(\"$parent.Output\", output);\n\nmsg.master_info = master_input;\nmsg.slave_info = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":40,"wires":[["f53039ee.c9f8a8"]]},{"id":"1d012157.30f92f","type":"delay","z":"52542d47.55ced4","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"0.01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":200,"wires":[["a4dfca88.2efef8"]]},{"id":"94457bc5.d2fd38","type":"change","z":"52542d47.55ced4","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"updateRate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["1d012157.30f92f"]]},{"id":"f53039ee.c9f8a8","type":"delay","z":"52542d47.55ced4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":40,"wires":[["a4dfca88.2efef8"]]},{"id":"c6992eff.f60d5","type":"function","z":"52542d47.55ced4","name":"","func":"var host = flow.get('$parent.host');\nvar port = flow.get('$parent.port');\nmsg.host = host;\nmsg.port = port;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["cb50dac3.64c728"]]},{"id":"8363d1f5.ebfde","type":"config","z":"730433fc.e7680c","name":"change updateRate (in ms), ip-address or port","properties":[{"p":"updateRate","pt":"flow","to":"100","tot":"num"},{"p":"host","pt":"flow","to":"192.168.3.10","tot":"str"},{"p":"port","pt":"flow","to":"7086","tot":"num"},{"p":"sys_approved","pt":"flow","to":"0","tot":"str"}],"active":true,"x":260,"y":40,"wires":[]},{"id":"5818ef29.74189","type":"subflow:52542d47.55ced4","z":"730433fc.e7680c","name":"","env":[],"x":220,"y":80,"wires":[]},{"id":"242cb6e2.531b1a","type":"comment","z":"730433fc.e7680c","name":"eB-Sample 5","info":"","x":150,"y":180,"wires":[]},{"id":"d0f2cc85.5ef3c","type":"comment","z":"730433fc.e7680c","name":"Brick 2Mi2Ao-03","info":"","x":880,"y":180,"wires":[]},{"id":"9cdc46d0.67b188","type":"Analog Input","z":"730433fc.e7680c","name":"","topic":"","brick":"0","byte_pos":"3","gleit_mw":"","msghystere":"","digits_in_lower":"0","digits_in_upper":"933","process_unit":"V","process_in_lower":"0","process_in_upper":"10","x":110,"y":340,"wires":[["bf73d1bf.cd9b6","ee9e0305.03d81"]]},{"id":"6993884c.10b4c8","type":"Analog Output","z":"730433fc.e7680c","name":"","topic":"","brick":"0","byte_pos":"0","digits_out_lower":"0","digits_out_upper":"15000","process_unit":"mA","process_out_lower":"0","process_out_upper":"20","x":700,"y":340,"wires":[["1f549f3a.865101","4445dad8.4089e4"]]},{"id":"da36ee5f.187e","type":"ui_chart","z":"730433fc.e7680c","name":"","group":"b9102101.6e616","order":3,"width":0,"height":0,"label":"AO in mA","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":280,"wires":[[]]},{"id":"b6d1e00b.32ee1","type":"ui_template","z":"730433fc.e7680c","group":"b9102101.6e616","name":"Beschreibung","order":1,"width":0,"height":0,"format":"<h4>AI -> A0 converted in mA in a Chart</h4>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":500,"y":220,"wires":[[]]},{"id":"ee9e0305.03d81","type":"ui_analog-vis","z":"730433fc.e7680c","group":"b9102101.6e616","order":2,"width":0,"height":0,"name":"Vis Sensor","x":150,"y":280,"wires":[]},{"id":"bf73d1bf.cd9b6","type":"ui_analog-force","z":"730433fc.e7680c","group":"b9102101.6e616","order":3,"width":0,"height":0,"name":"Force Sensor","x":360,"y":340,"wires":[["6993884c.10b4c8"]]},{"id":"1f549f3a.865101","type":"ui_analog-vis","z":"730433fc.e7680c","group":"b9102101.6e616","order":4,"width":0,"height":0,"name":"","x":730,"y":280,"wires":[]},{"id":"dff05661.c69448","type":"function","z":"730433fc.e7680c","name":"","func":"msg.payload = msg.process_value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":280,"wires":[["da36ee5f.187e"]]},{"id":"4445dad8.4089e4","type":"delay","z":"730433fc.e7680c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":980,"y":320,"wires":[["dff05661.c69448"]]},{"id":"b9102101.6e616","type":"ui_group","name":"eB-Sample5","tab":"1cc086b1.60cbd9","order":1,"disp":true,"width":"6","collapse":false},{"id":"1cc086b1.60cbd9","type":"ui_tab","name":"eB-Sample 2Mi2Ao-03","icon":"dashboard","order":4,"disabled":false,"hidden":false}]